<div class="row">
  <aside>
    <section class="user_info">
      <div class="col-md-12">
        <h1>
          <%= link_to(gravatar_for(user), user_path(user)) %>
          <%= link_to(user.name, user_path(user)) %>
        </h1>
      </div>
      <div class="col-md-12">
        <p class="glyphicon glyphicon-map-marker" aria-hidden="true"><%= user.area %></p>
      </div>
      <div class="col-md-12">
        <%= user.profile %>
      </div>
    </section>
  </aside>
</div>